{% extends 'core/base.html' %}

{% block title %}Cine Codo - Pelicula{% endblock %}

{% block content %}
<main>
    {% load static %}   
    <section class="contenedor1"> 
        <h2 class="titulo">EXTRAÑA FORMA DE VIDA</h2>
        <h3 class="sala">SALA 1</h3>
        <div class="trailer">    <!--Link al video de youtube-->
            <iframe width="100%" height="705" src="https://www.youtube.com/embed/BpXXN847pZ8">
            </iframe>
        </div>

        <br>
        <br>

        <h3 class="sinopsis">SINOPSIS</h3>
        <p>Tras veinticinco años, Silva cruza el desierto a caballo para visitar a su amigo, el sheriff Jake. Celebran el encuentro, pero a la mañana siguiente Jake le dice que el motivo de 
            su viaje no es rememorar su amistad.</p>
    </section>

    <section class="contenedor2">
        <article class="fichatecnica">
            <h3 class="ficha">FICHA TÉCNICA</h3>
            <table>
                <tr>
                    <td>Título original:</td>
                    <td>Extraña forma de vida</td>
                </tr>
                <tr>
                    <td>Año:</td>
                    <td>2023</td>
                </tr>
                <tr>
                    <td>Duración:</td>
                    <td>31 min.</td>
                </tr>
                <tr>
                    <td>Género:</td>
                    <td>Western, Melodrama</td>
                </tr>
                <tr>
                    <td>País:</td>
                    <td>España</td>
                </tr>
                <tr>
                    <td>Dirección:</td>
                    <td>Pedro Almodóvar</td>
                </tr>
                <tr>
                    <td>Guión:</td>
                    <td>Pedro Almodóvar</td>
                </tr>
            </table>
        </article>

        <h3 class="reparto">REPARTO</h3> 
        <article class="actores">

            <div class="fotoactores">
                <img src="{% static 'core/Imágenes Reparto/Ethan Hawke Ok.png' %}" alt="Actor Ethan Hawke">
                <div>
                    <p class="textor">Ethan Hawke<p>
                </div>
            </div>

            <div class="fotoactores">
                <img src="{% static 'core/Imágenes Reparto/Pedro Pascal Ok.png' %}" alt="Actor Pedro Pascal">
                <div>
                    <p class="textor">Pedro Pascal<p>
                </div>
            </div>

            <div class="fotoactores">
                <img src="{% static 'core/Imágenes Reparto/José Condessa Ok.png' %}" alt="Actor José Condessa">
                <div>
                    <p class="textor">José Condessa<p>
                </div>
            </div>

            <div class="fotoactores">
                <img src="{% static 'core/Imágenes Reparto/Manu Ríos Ok.png' %}" alt="Actor Manu Ríos">
                <div>
                    <p class="textor">Manu Ríos<p>
                </div>
            </div>

            <div class="fotoactores">
                <img src="{% static 'core/Imágenes Reparto/Sara Sálamo ok.png' %}" alt="Actor Sara Sálamo">
                <div>
                    <p class="textor">Sara Sálamo<p>
                </div>
            </div>

            <div class="fotoactores">
                <img src="{% static 'core/Imágenes Reparto/Erenice Lohan Ok.png' %}" alt="Actor Erenice Lohan">
                <div>
                    <p class="textor">Erenice Lohan<p>
                </div>
            </div>

            <div class="fotoactores">
                <img src="{% static 'core/Imágenes Reparto/George Steane Ok.png' %}" alt="Actor George Steane">
                <div>
                    <p class="textor">George Steane<p>
                </div>
            </div>
        </article>

        <aside>
            <img class="Poster" src="{% static 'core/Imagenes/Extraña forma de vida Grande.png' %}" alt="Poster de Extraña forma de vida" >
        </aside>
        
    </section> 

</main>    
{% endblock %}
